@tailwind base;
@tailwind components;
@tailwind utilities;

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px 20px 50px;
  font-weight: bolder;
}

#header #title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(206, 206, 206);
  font-weight: lighter;
}

#sub-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px 20px 50px;
  border: 1px solid rgb(206, 206, 206);
}

#options {
  display: block;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#profile #main-wrap-div {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  overflow: auto;
}

#file-data-container {
  padding: 10px;
  width: 100%;
  height: 90vh;
  font-family: "Courier New", Courier, monospace;
  color: rgb(0, 213, 0);
  background-color: black;
}

#file-data-container-edit {
  padding: 10px;
  width: 100%;
  height: 90vh;
  font-family: "Courier New", Courier, monospace;
  color: white;
  background-color: black;
}

.mobile-options {
  display: none;
}

.loader {
  font-weight: lighter;
  font-size: 24px;
}

.box-content {
  display: contents !important;
  font-size: 12px;
  width: 100% !important;
}

.empty-icons {
  display: flex !important;
}

.filled-icons {
  display: -webkit-inline-box !important;
}

.custom-button {
  border: 1px solid;
  border-radius: 20px;
  padding: 5px;
  margin-right: 7px;
  width: 120px;
  font-size: small;
  font-weight: normal;
  cursor: pointer;
}

.custom-button:hover {
  color: white;
  background-color: black;
}

.custom-input {
  border: 1px dotted;
  border-radius: 20px;
  padding: 5px;
  font-size: small;
  margin: 5px;
}

.node {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10%;
}

.start-node {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10%;
  height: 75px;
  margin-top: 70px;
}

.end-node {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10%;
  height: 150px;
}

.node .line {
  border-left: 1px dotted;
  height: 150px;
}

.start-node .line {
  border-left: 1px dotted;
  height: 75px;
}

.end-node .line {
  border-left: 1px dotted;
  height: 75px;
}

.dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  transform: translate(-50%);
  z-index: 1;
}

.node .mark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.start-node .mark {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
}

.end-node .mark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.item {
  display: flex;
  flex-direction: row;
}

.item .left-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  word-wrap: break-word;
  text-align: right;
  padding-right: 5px;
}

.item .right-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  word-wrap: break-word;
  text-align: left;
  padding-left: 5px;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.page-content .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.page-content .content span {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 35px;
}

.page-content .content .note {
  text-align: justify;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}

.options-collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.big-title {
  font-weight: lighter;
  font-size: 50px;
  margin-bottom: 50px;
}

.badge {
  font-size: smaller;
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 7px;
  margin-right: 10px;
}

.main-input {
  background-color: rgb(238, 238, 238);
  padding: 10px;
  border-radius: 5px;
  font-weight: lighter;
}

.note-bar {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(206, 206, 206);
  font-size: small;
  padding: 7px;
}

.note-bar span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-page-namespace {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.landing-page-namespace img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.landing-page-namespace .names {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-page-namespace span {
  font-weight: lighter !important;
  font-size: small !important;
  margin: 0 !important;
}

label {
  padding: 7px !important;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

form input {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  border-bottom: 1px solid;
  width: 300px;
}

form .options-collection {
  margin-top: 35px;
}

@media (max-width: 767.98px) {
  #profile {
    display: block;
    height: 90vh;
  }

  #profile #main-wrap-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  #header {
    padding: 20px 20px 20px 20px;
  }

  #sub-header {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
  }

  .options {
    display: none;
  }

  .mobile-options {
    display: flex;
  }

  .page-content {
    height: 70vh;
  }

  .custom-input {
    width: 90%;
  }

  .page-content .content .note {
    width: 90%;
  }

  .big-title {
    font-size: 20px;
  }

  .loader {
    padding: 20px;
    font-size: 15px;
  }

  #file-data-container {
    font-size: small;
  }

  #file-data-container-edit {
    font-size: small;
  }

  .custom-button {
    display: block;
    text-align: center;
    width: 100px;
  }

  #sub-header #sub-header-title {
    font-size: small;
    margin-bottom: 20px;
  }
}
